<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<h2><%= @course.title %> </h2>

<p><b>Number:</b></p>
<p><%= @course.number %></p>
<p><b>Title:</b></p>
<p><%= @course.title %></p>
<p><b>Description:</b></p>
<p><%= @course.desc %></p>
<p><b>Start Date:</b></p>
<p><%= @course.startDate %></p>
<p><b>End Date:</b></p>
<p><%= @course.endDate %></p>
<p><b>Status:</b></p>
<p><%= @course.status %></p>



<% if @role!="student" && @course.status=='active' %>

    <%= form_tag("",method: 'post') do %>
        <div class="field">
          <label for="">Post a Notification/Material:</label><br>
          <input class="form-control" type="text" name="message" id="email" />
        </div>
        <div class="actions">
          <input type="submit" name="commit" value="submit" class="btn btn-primary" />
        </div>
    <% end %>
<% end %>
<br/>
<h4><u>Notifications</u></h4>

<% if @notifications.empty? %>
      <p>No notifications posted by instructor</p>
<% end %>
<% @notifications.each do |noti| %>
  <p><b>Message: </b><%= noti.message  %>  </p>
<% end %>
<%= link_to 'Back', :back %>