<body>
  <% if @course %>
  <table>
    <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Desciption</th>
      <th>Status</th>
      <th>Grades</th>
      <%if @role=="instructor"%>
      <th>Requests</th>
      <%end%>
    </tr>
    </thead
  <% @course.each do |course| %>
    <div class="course">
      <tr>
        <td><%= link_to course.number,{controller: 'course', action: 'coursepage', id:course} %></td>
        <td><%= course.title %></td>
        <td><%= course.desc %></td>
        <td><%= course.status %></td>
        <%if @role=="student"%>
        <td><%= link_to 'Drop', {action: 'studentcoursedrop', id:course} %></td>
        <%elsif @role=="instructor"%>
        <td><%= link_to 'Post Grades', "#" %></td>

        <%if course.inactive==0%>
        <td><%= link_to 'Request Inactive', {controller: 'instructor', action: 'requestinactive', id:course} %></td>
        <%else%>
        <td><%=  'Already Requested' %></td>
<%end%>
        <%end%>
      </tr>
    </div>
  <% end %>
  </table>
  <%else%>
  <%= "No courses enrolled yet"%>
  <% end%>
</body>
