<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Remove', {action: "coursestudentdelete",courseid:@course, studentid:user} %></td>
        <td>
          <%= link_to 'Grade', {action: 'coursestudentgrade', courseid:@course,studentid:user} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Back', controller: "administrator", action: "courselist", id:@course %>



<h6>Add Student</h6>
<%= form_tag("",method: 'post') do %>
    <div class="field">
      <label for="">Email:</label><br>
      <input class="form-control" type="text" name="email" id="email" />
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="submit" class="btn btn-primary" />
    </div>
<% end %>
