<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @instructors.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <% if @instructors.count>1 %>
          <%= link_to 'Remove', {action: "courseinstructordelete",courseid:@course, instructorid:user} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Back', controller: "administrator", action: "courselist", id:@course %>


<%= form_tag("",method: 'post') do %>
  <div class="field">
    <label for="">Add instructor by Email:</label><br>
    <input class="form-control" type="text" name="email" id="email" />
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="submit" class="btn btn-primary" />
  </div>
<% end %>
