<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name,{action: 'userhistory', id:user} %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Remove', {action: "coursestudentdelete",courseid:@course, studentid:user} %></td>
        <td>
          <%= link_to 'Grade', {action: 'coursestudentgrade', courseid:@course,studentid:user} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<% if @role=='admin' %>
<%= link_to 'Back', controller: "administrator", action: "courselist" %>
    <% else %>
    <%= link_to 'Back', mycourses_path %>
    <% end %>

<%= form_tag("",method: 'post') do %>
    <div class="field">
      <label for="">Add Student by Email:</label><br>
      <input class="form-control" type="text" name="email" id="email" />
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="submit" class="btn btn-primary" />
    </div>
<% end %>