
  <h1>Manage Courses</h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table class="table table-striped table-bordered table-hover">

  <thead>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Description</th>
    <th>StartDate</th>
    <th>EndDate</th>
    <th>Status</th>
    <th>Manage Instructors</th>
    <th>Manage Students</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
      <% if course.users.select{ |u| u.role=="instructor" }.count==0 %>
        <tr class="danger">
      <% else %>
        <tr>
      <% end %>
        <td><%= link_to course.number,{controller: "course", action:"coursepage",id:course} %></td>
        <td><%= course.title %></td>
        <td><%= course.desc %></td>
        <td><%= course.startDate %></td>
        <td><%= course.endDate %></td>
        <td><%= course.status %></td>
        <td><%= link_to 'Instructors', {action: 'courseinstructor', id:course}  %></td>
        <td><%= link_to 'Students', {action: 'coursestudent', id:course}  %></td>
        <td><%= link_to 'Edit', {action: 'editcourse',id:course} %></td>
        <td><%= link_to 'Delete', {action: 'deletecourse',id:course} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Course', controller: "administrator", action: "newcourse" %>
  <br/> <br/>
  <p>
    Click on the Course Number to visit course page and add materials.
  </p>
  <p>
    Highlighted Course does not have a instructor.
  </p>
