
  <h1>Manage Students</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.name, {action: 'userhistory', id:user} %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', {action: "deletestudent",id:user} %></td>
    </tr>
    <% end %>
    </tbody>
</table>
<br/>
  <p>
    Click on the Student name to view the history.
  </p>
  <br/>
<%= link_to 'New Student', controller: "administrator", action: "newstudent" %>
