<body>

  <% if @pending.count>0 %>
  <table class="table table-striped table-bordered table-hover">
  <% @pending.each do |c| %>
    <div class="course">
      <tr>
        <td><%= c.status %></td>
        <% a=User.find_by id: c.user_id%>
        <td><%= a.name %></td>
        <% b=Course.find_by id: c.course_id%>
        <td><%= b.title %></td>
        <td><%= link_to 'Enroll', {controller: "instructor",action: "enroll", course_id: b , user_id: a} %></td>
      </tr>
    </div>
  <% end %>
  </table>
  <%else%>
  <%= "No pending requests."%>
  <% end%>
</body>
