<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">

    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
        <% if @role=="student" %>
          <li> <%= link_to "Search", course_path%> </li>
          <li> <%= link_to "My Courses", mycourses_path%> </li>
          <li> <%= link_to "Course History", mycourses_path%> </li>
          <li> <%= link_to "Messages", message_path%> </li>


        <% elsif @role=="admin" || @role=="superadmin"%>
          <li> <%= link_to "Manage Admins", administrator_path%> </li>
          <li> <%= link_to "Manage Instructors", {controller: "administrator" ,action:"instructorlist"}%> </li>
          <li> <%= link_to "Manage Students", {controller: "administrator" ,action:"studentlist"}%> </li>
          <li> <%= link_to "Manage Courses", {controller: "administrator" ,action:"courselist"}%> </li>
          <li> <%= link_to "Messages", message_path%> </li>


        <% elsif @role=="instructor" %>
          <li> <%= link_to "Enrollment requests", requests_path%> </li>
          <li> <%= link_to "Courses", mycourses_path%> </li>
          <li> <%= link_to "Messages", message_path%> </li>
        <% end%>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle cwhite" style="color:white; background-color: #cc0000" data-toggle="dropdown">
              <%= @current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu cwhite" style="background-color: #cc0000">
              <li><%= link_to "Profile", @current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
